</div class="overlay">
<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @post.image %>);">
   <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more">
      <span><%= image_tag 'sozai_cman_jp_20210807011101.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post.id), method: :delete %>
        </li>
      </ul>
    </div>
   <% end %>
    <p><%= @post.text %></p>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
        <span>投稿者</span><%= @post.user.nickname %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_field :title, row: "2", placeholder:"タイトル" %>
        <%= form.text_area :text, rows: "2", pleceholder:"コメント" %>
        <div class="form-group row" id="star">
        <%= form.label :star,'評価 ', class:'col-md-3 col-form-label' %>
        <%= form.hidden_field :star, id: :review_star %>
  </div>
        <%= form.submit "SEND COMMENT" %>    
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>《  みんなのレビュー  》</h4>
      <% @comments.each do |comment|%>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
        </p>
          
            <div class=card>
              <div id="star-rate<%= comment.id%>"></div>   
              <p class="title-size"><%= comment.title %></p>
              <p><%= comment.text %></p>
              <script>
                $('#star-rate<%= comment.id%>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  half      :false,
                  readOnly: true,
                  score: <%= comment.star %>,
                });
              </script>
            </div>
          
        <% end %>
    </div>
  </div>
</div>




  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
  </script>  

</div>